 
 .nothing__main-content{
   align-items: center;
   background-color: $primary;
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   
   @media screen and (max-width: 450px) {
   
    width: 100%;
  }

   p{
       text-align: center;
   }
 }